html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
ol li,
ul li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
q,
blockquote {
  quotes: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}
a img {
  border: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
img {
  vertical-align: bottom;
  border: none;
}
button,
input,
select,
textarea {
  vertical-align: middle;
}
input {
  outline: 0;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}
textarea {
  overflow: auto;
  vertical-align: top;
  font-family: sans-serif;
}
body {
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
  font-style: normal;
}
.topArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
}
.bottomArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 40px auto 0;
  width: 100%;
  border-top: 4px dotted #ccc;
}
.rouletteSet01 {
  position: relative;
  width: 38%;
  aspect-ratio: 28/37;
  background-image: url("../images/roulette_bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: content;
}
.rouletteSet01 .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 9%;
  padding: 5% 0;
  width: 100%;
  aspect-ratio: 1/1;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcdd7e), to(#ee983e));
  background: linear-gradient(180deg, #fcdd7e 0%, #ee983e 100%);
  border-radius: 50%;
  -webkit-box-shadow: 0 -5px 0 #ed9a4d;
          box-shadow: 0 -5px 0 #ed9a4d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.rouletteSet01 .wrapper:before,
.rouletteSet01 .wrapper:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  border-radius: 50%;
}
.rouletteSet01 .wrapper:before {
  width: 96%;
  height: 96%;
  background: -webkit-gradient(linear, left bottom, left top, from(#fcdd7e), to(#ee983e));
  background: linear-gradient(0deg, #fcdd7e 0%, #ee983e 100%);
}
.rouletteSet01 .wrapper:after {
  width: 92%;
  height: 92%;
  background-color: #105a8c;
}
.rouletteSet01 .container {
  position: relative;
  margin: 0 auto;
  width: 90%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  background-color: #c02323;
  z-index: 1;
}
.rouletteSet01 .container:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 10;
  pointer-events: none;
  -webkit-box-shadow: inset 0 0.4vw 0 rgba(0,0,0,0.3);
          box-shadow: inset 0 0.4vw 0 rgba(0,0,0,0.3);
}
.rouletteSet01 .container #roulette {
  width: 50%;
  aspect-ratio: 1/1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.rouletteSet01 .container #roulette:before,
.rouletteSet01 .container #roulette:after {
  content: '';
  display: inline-block;
  position: absolute;
  z-index: 1;
}
.rouletteSet01 .container #roulette:before {
  top: -40px;
  left: 50%;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  border-top: 50px solid transparent;
  border-right: 20px solid #930909;
}
.rouletteSet01 .container #roulette:after {
  top: -40px;
  right: 50%;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
  border-right: 20px solid transparent;
  border-bottom: 50px solid #5e0b0b;
}
.rouletteSet01 .container .lineWrapper {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition-timing-function: cubic-bezier(0, -0.04, 0, 1) !important;
          transition-timing-function: cubic-bezier(0, -0.04, 0, 1) !important;
  pointer-events: none;
}
.rouletteSet01 .container .lineWrapper .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  aspect-ratio: 1/1;
  position: absolute;
  -webkit-transform-origin: center;
          transform-origin: center;
}
.rouletteSet01 .container .lineWrapper .line span {
  display: inline-block;
  width: 0.05vw;
  height: 100%;
  background-color: #000;
}
.rouletteSet01 .container #myPieChart {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition-timing-function: cubic-bezier(0, -0.04, 0, 1) !important;
          transition-timing-function: cubic-bezier(0, -0.04, 0, 1) !important;
}
.rouletteSet01 .container .wheel {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition-timing-function: cubic-bezier(0, -0.04, 0, 1) !important;
          transition-timing-function: cubic-bezier(0, -0.04, 0, 1) !important;
}
.rouletteSet01 .container .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  -webkit-transform-origin: center /* ルーレットの中心からの距離 */;
          transform-origin: center /* ルーレットの中心からの距離 */;
  color: #333;
  font-size: 0.9vw;
  font-weight: bold;
  letter-spacing: 0.2em;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.rouletteSet01 .container .item .value {
  position: relative;
  z-index: 1;
  text-shadow: 0.05vw 0.05vw 0 #fff, -0.05vw -0.05vw 0 #fff, -0.05vw 0.05vw 0 #fff, 0.05vw -0.05vw 0 #fff, 0px 0.05vw 0 #fff, 0 -0.05vw 0 #fff, -0.05vw 0 0 #fff, 0.05vw 0 0 #fff;
}
.rouletteSet01 .container .circle {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  width: 100%;
  aspect-ratio: 1/1;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcdd7e), to(#ee983e));
  background: linear-gradient(180deg, #fcdd7e 0%, #ee983e 100%);
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0.4vw 0 rgba(0,0,0,0.3);
          box-shadow: 0 0.4vw 0 rgba(0,0,0,0.3);
  z-index: 10;
}
.rouletteSet01 .container .circle .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 85%;
  height: 85%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: -webkit-gradient(linear, left bottom, left top, from(#fcdd7e), to(#ee983e));
  background: linear-gradient(0deg, #fcdd7e 0%, #ee983e 100%);
  border-radius: 50%;
}
.rouletteSet01 .container .circle .symbolWrapper {
  margin-top: 10%;
  width: 47%;
}
.rouletteSet01 .container .circle .symbolWrapper img {
  width: 100%;
}
.btnWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
}
.rouletteBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  margin-top: 0.2vw;
  padding: 0.2vw;
  width: 100%;
  color: #fff;
  background-color: #198caa;
  border: 0.1vw solid #198caa;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  font-size: 1.2vw;
  font-family: "Righteous", sans-serif;
  letter-spacing: 0.1em;
  -webkit-box-shadow: 0 -0.2vw 0 #326464;
          box-shadow: 0 -0.2vw 0 #326464;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.rouletteBtn.is-spin {
  background-color: #930909;
  border-color: #930909;
  -webkit-box-shadow: 0 -0.2vw 0 #5e0b0b;
          box-shadow: 0 -0.2vw 0 #5e0b0b;
}
.rouletteBtn span {
  display: inline-block;
  padding: 0.5vw;
  width: calc(100% - 0.4vw);
  text-align: center;
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.1vw solid #fff;
  border-radius: 100px;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.rouletteBtn.is-disabled {
  margin-bottom: 0.2vw;
  margin-top: 0px;
  color: #333;
  background-color: #777 !important;
  border-color: #777 !important;
  -webkit-box-shadow: 0 0 0 #444 !important;
          box-shadow: 0 0 0 #444 !important;
  pointer-events: none;
}
.rouletteBtn.is-disabled span {
  border-color: #333;
}
.checkBoxSet01 {
  padding-right: 3vw;
  border-right: 0.3vw dotted #ccc;
}
.checkBoxSet01 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.5vw;
}
.checkBoxSet01 .container .box .area {
  margin-bottom: 1vw;
  font-size: 1.3vw;
  font-weight: bold;
}
.checkBoxSet01 .container .box .area:before {
  content: '-';
  margin-right: 0.3vw;
}
.checkBoxSet01 .container .box .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.2vw;
  padding-left: 0.3vw;
}
.checkBoxSet01 .container .box .list label {
  font-size: 1.1vw;
  font-weight: bold;
}
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="1"] {
  accent-color: #1d9df2;
}
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="2"],
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="3"],
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="4"],
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="5"],
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="6"],
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="7"] {
  accent-color: #61e59a;
}
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="8"],
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="9"],
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="10"],
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="11"],
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="12"],
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="13"],
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="14"] {
  accent-color: #f23530;
}
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="15"],
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="16"],
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="17"],
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="18"],
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="19"],
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="20"],
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="21"],
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="22"],
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="23"] {
  accent-color: #67d12a;
}
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="24"],
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="25"],
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="26"],
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="27"],
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="28"],
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="29"],
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="30"] {
  accent-color: #ffd833;
}
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="31"],
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="32"],
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="33"],
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="34"],
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="35"] {
  accent-color: #c0abef;
}
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="36"],
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="37"],
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="38"],
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="39"] {
  accent-color: #5ae0e0;
}
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="40"],
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="41"],
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="42"],
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="43"],
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="44"],
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="45"],
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="46"] {
  accent-color: #f76c1e;
}
.checkBoxSet01 .container .box .list label input[type="checkbox"][data-index="47"] {
  accent-color: #ea65ba;
}
.mapSet01 {
  position: relative;
  padding: 15px;
}
.mapSet01:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/map_frame.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 10;
  pointer-events: none;
}
.mapSet01 .wrapper {
  position: relative;
  padding-top: 700px;
  width: 800px;
  height: 0;
  background-color: #198caa;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}
.mapSet01 .logo {
  display: inline-block;
  position: absolute;
  top: 40px;
  left: 30px;
  width: 35%;
  -webkit-filter: drop-shadow(3px 3px 0px #326464);
          filter: drop-shadow(3px 3px 0px #326464);
  z-index: 9999;
}
.mapSet01 .logo img {
  width: 100%;
}
.mapSet01 .resultArea {
  width: 520px;
  height: 100px;
  position: absolute;
  right: 0;
  bottom: 25px;
  left: 0;
  margin: 0 auto;
  background-image: url("../images/map_result_frame.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.mapSet01 .resultArea.is-active {
  opacity: 1;
}
.mapSet01 .resultArea.is-hide {
  opacity: 0 !important;
}
.mapSet01 .resultArea #result {
  margin-top: 20px;
  height: 55px;
  text-align: center;
}
.mapSet01 .resultArea #result img {
  height: 100%;
}
.mapSet01 .container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: all 1s;
  transition: all 1s;
}
.mapSet01 .container .mapArea {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.mapSet01 .container .mapArea.is-singleColor li.svg.active.target svg {
  fill: #c02323 !important;
}
.mapSet01 .container .mapArea:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  width: 200%;
  height: 200%;
  background-image: url("../images/map_bg.svg");
  background-size: 80px;
  opacity: 0.1;
}
.mapSet01 .container .mapArea:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 3.384771429%;
  left: 6.5207%;
  width: 87.21865%;
  height: 93.571429%;
  background-image: url("../images/map_parts01.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.mapSet01 .container .mapArea li.svg {
  position: absolute;
  opacity: 0.3;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 1;
}
.mapSet01 .container .mapArea li.svg .kaburaki {
  content: '';
  display: inline-block;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  bottom: 30%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -20px, 0);
          transform: translate3d(-50%, -20px, 0);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
}
.mapSet01 .container .mapArea li.svg:nth-child(1).active.target svg {
  fill: #1d9df2;
}
.mapSet01 .container .mapArea li.svg:nth-child(2).active.target svg,
.mapSet01 .container .mapArea li.svg:nth-child(3).active.target svg,
.mapSet01 .container .mapArea li.svg:nth-child(4).active.target svg,
.mapSet01 .container .mapArea li.svg:nth-child(5).active.target svg,
.mapSet01 .container .mapArea li.svg:nth-child(6).active.target svg,
.mapSet01 .container .mapArea li.svg:nth-child(7).active.target svg {
  fill: #61e59a;
}
.mapSet01 .container .mapArea li.svg:nth-child(8).active.target svg,
.mapSet01 .container .mapArea li.svg:nth-child(9).active.target svg,
.mapSet01 .container .mapArea li.svg:nth-child(10).active.target svg,
.mapSet01 .container .mapArea li.svg:nth-child(11).active.target svg,
.mapSet01 .container .mapArea li.svg:nth-child(12).active.target svg,
.mapSet01 .container .mapArea li.svg:nth-child(13).active.target svg,
.mapSet01 .container .mapArea li.svg:nth-child(14).active.target svg {
  fill: #f23530;
}
.mapSet01 .container .mapArea li.svg:nth-child(15).active.target svg,
.mapSet01 .container .mapArea li.svg:nth-child(16).active.target svg,
.mapSet01 .container .mapArea li.svg:nth-child(17).active.target svg,
.mapSet01 .container .mapArea li.svg:nth-child(18).active.target svg,
.mapSet01 .container .mapArea li.svg:nth-child(19).active.target svg,
.mapSet01 .container .mapArea li.svg:nth-child(20).active.target svg,
.mapSet01 .container .mapArea li.svg:nth-child(21).active.target svg,
.mapSet01 .container .mapArea li.svg:nth-child(22).active.target svg,
.mapSet01 .container .mapArea li.svg:nth-child(23).active.target svg {
  fill: #67d12a;
}
.mapSet01 .container .mapArea li.svg:nth-child(24).active.target svg,
.mapSet01 .container .mapArea li.svg:nth-child(25).active.target svg,
.mapSet01 .container .mapArea li.svg:nth-child(26).active.target svg,
.mapSet01 .container .mapArea li.svg:nth-child(27).active.target svg,
.mapSet01 .container .mapArea li.svg:nth-child(28).active.target svg,
.mapSet01 .container .mapArea li.svg:nth-child(29).active.target svg,
.mapSet01 .container .mapArea li.svg:nth-child(30).active.target svg {
  fill: #ffd833;
}
.mapSet01 .container .mapArea li.svg:nth-child(31).active.target svg,
.mapSet01 .container .mapArea li.svg:nth-child(32).active.target svg,
.mapSet01 .container .mapArea li.svg:nth-child(33).active.target svg,
.mapSet01 .container .mapArea li.svg:nth-child(34).active.target svg,
.mapSet01 .container .mapArea li.svg:nth-child(35).active.target svg {
  fill: #c0abef;
}
.mapSet01 .container .mapArea li.svg:nth-child(36).active.target svg,
.mapSet01 .container .mapArea li.svg:nth-child(37).active.target svg,
.mapSet01 .container .mapArea li.svg:nth-child(38).active.target svg,
.mapSet01 .container .mapArea li.svg:nth-child(39).active.target svg {
  fill: #5ae0e0;
}
.mapSet01 .container .mapArea li.svg:nth-child(40).active.target svg,
.mapSet01 .container .mapArea li.svg:nth-child(41).active.target svg,
.mapSet01 .container .mapArea li.svg:nth-child(42).active.target svg,
.mapSet01 .container .mapArea li.svg:nth-child(43).active.target svg,
.mapSet01 .container .mapArea li.svg:nth-child(44).active.target svg,
.mapSet01 .container .mapArea li.svg:nth-child(45).active.target svg,
.mapSet01 .container .mapArea li.svg:nth-child(46).active.target svg {
  fill: #f76c1e;
}
.mapSet01 .container .mapArea li.svg:nth-child(47).active.target svg {
  fill: #ea65ba;
}
.mapSet01 .container .mapArea li.svg.active {
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.mapSet01 .container .mapArea li.svg.active svg {
  fill: #fde1c5;
}
.mapSet01 .container .mapArea li.svg.active.target {
  z-index: 10;
}
.mapSet01 .container .mapArea li.svg.active.target .kaburaki {
  opacity: 1;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  -webkit-transition-delay: 2.5s;
          transition-delay: 2.5s;
}
.mapSet01 .container .mapArea li.svg.active.target svg {
  -webkit-filter: drop-shadow(0px 0px 0.5px #59473a);
          filter: drop-shadow(0px 0px 0.5px #59473a);
}
.mapSet01 .container .mapArea li.svg svg {
  width: 100%;
  fill: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.mapSet01 .container .mapArea li.svg:nth-child(1) {
  top: 4.1407%;
  left: 69.189425%;
  width: 23.64545%;
}
.mapSet01 .container .mapArea li.svg:nth-child(1) .kaburaki {
  bottom: 38%;
  left: 50%;
  background-image: url("../images/flag01.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(2) {
  top: 27.8%;
  left: 68.124275%;
  width: 12.6828875%;
}
.mapSet01 .container .mapArea li.svg:nth-child(2) .kaburaki {
  bottom: 30%;
  left: 50%;
  background-image: url("../images/flag02.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(3) {
  top: 36.5397%;
  left: 74.4824875%;
  width: 6.602025%;
}
.mapSet01 .container .mapArea li.svg:nth-child(3) .kaburaki {
  bottom: 30%;
  left: 50%;
  background-image: url("../images/flag03.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(4) {
  top: 46.15645714%;
  left: 74.4824875%;
  width: 6.602025%;
}
.mapSet01 .container .mapArea li.svg:nth-child(4) .kaburaki {
  bottom: 30%;
  left: 40%;
  background-image: url("../images/flag04.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(5) {
  top: 36.54475714%;
  left: 67.213825%;
  width: 7.0558%;
}
.mapSet01 .container .mapArea li.svg:nth-child(5) .kaburaki {
  bottom: 30%;
  left: 55%;
  background-image: url("../images/flag05.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(6) {
  top: 47.12431429%;
  left: 68.124275%;
  width: 6.14535%;
}
.mapSet01 .container .mapArea li.svg:nth-child(6) .kaburaki {
  bottom: 30%;
  left: 50%;
  background-image: url("../images/flag06.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(7) {
  top: 53.94564286%;
  left: 68.0053625%;
  width: 11.844375%;
}
.mapSet01 .container .mapArea li.svg:nth-child(7) .kaburaki {
  bottom: 35%;
  left: 50%;
  background-image: url("../images/flag07.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(8) {
  top: 61.05728571%;
  left: 74.5774125%;
  width: 7.324375%;
}
.mapSet01 .container .mapArea li.svg:nth-child(8) .kaburaki {
  bottom: 30%;
  left: 50%;
  background-image: url("../images/flag08.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(9) {
  top: 60.13%;
  left: 71.75%;
  width: 4.95575%;
}
.mapSet01 .container .mapArea li.svg:nth-child(9) .kaburaki {
  bottom: 40%;
  left: 50%;
  background-image: url("../images/flag09.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(10) {
  top: 61.05728571%;
  left: 64.45095%;
  width: 9.373025%;
}
.mapSet01 .container .mapArea li.svg:nth-child(10) .kaburaki {
  bottom: 45%;
  left: 45%;
  background-image: url("../images/flag10.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(11) {
  top: 66.94797143%;
  left: 68.0053625%;
  width: 8.67395%;
}
.mapSet01 .container .mapArea li.svg:nth-child(11) .kaburaki {
  bottom: 35%;
  left: 50%;
  background-image: url("../images/flag11.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(12) {
  top: 69.90827143%;
  left: 76.892175%;
  width: 5.0643625%;
}
.mapSet01 .container .mapArea li.svg:nth-child(12) .kaburaki {
  bottom: 50%;
  left: 50%;
  background-image: url("../images/flag12.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(13) {
  top: 71.16677143%;
  left: 69.8287%;
  width: 6.8506125%;
}
.mapSet01 .container .mapArea li.svg:nth-child(13) .kaburaki {
  bottom: 50%;
  left: 45%;
  background-image: url("../images/flag13.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(14) {
  top: 73.52665714%;
  left: 69.8287%;
  width: 6.0561625%;
}
.mapSet01 .container .mapArea li.svg:nth-child(14) .kaburaki {
  bottom: 30%;
  left: 45%;
  background-image: url("../images/flag14.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(15) {
  top: 50.02964286%;
  left: 59.4%;
  width: 10.1283875%;
}
.mapSet01 .container .mapArea li.svg:nth-child(15) .kaburaki {
  bottom: 30%;
  left: 50%;
  background-image: url("../images/flag15.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(16) {
  top: 59.47078571%;
  left: 52.6590125%;
  width: 6.5498875%;
}
.mapSet01 .container .mapArea li.svg:nth-child(16) .kaburaki {
  bottom: 20%;
  left: 50%;
  background-image: url("../images/flag16.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(17) {
  top: 54.9%;
  left: 49.862725%;
  width: 6.9220125%;
}
.mapSet01 .container .mapArea li.svg:nth-child(17) .kaburaki {
  bottom: 65%;
  left: 47%;
  background-image: url("../images/flag17.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(18) {
  top: 63.93558571%;
  left: 44.834275%;
  width: 7.611875%;
}
.mapSet01 .container .mapArea li.svg:nth-child(18) .kaburaki {
  bottom: 50%;
  left: 50%;
  background-image: url("../images/flag18.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(19) {
  top: 71.16677143%;
  left: 64.4504125%;
  width: 5.1654375%;
}
.mapSet01 .container .mapArea li.svg:nth-child(19) .kaburaki {
  bottom: 50%;
  left: 43%;
  background-image: url("../images/flag19.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(20) {
  top: 61.66721429%;
  left: 58.2751125%;
  width: 9.517375%;
}
.mapSet01 .container .mapArea li.svg:nth-child(20) .kaburaki {
  bottom: 35%;
  left: 40%;
  background-image: url("../images/flag20.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(21) {
  top: 65.40342857%;
  left: 51.209425%;
  width: 6.852825%;
}
.mapSet01 .container .mapArea li.svg:nth-child(21) .kaburaki {
  bottom: 40%;
  left: 50%;
  background-image: url("../images/flag21.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(22) {
  top: 74.51954286%;
  left: 60.8712125%;
  width: 10.1146%;
}
.mapSet01 .container .mapArea li.svg:nth-child(22) .kaburaki {
  bottom: 50%;
  left: 45%;
  background-image: url("../images/flag22.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(23) {
  top: 74.51954286%;
  left: 54.9%;
  width: 5.752175%;
}
.mapSet01 .container .mapArea li.svg:nth-child(23) .kaburaki {
  bottom: 35%;
  left: 55%;
  background-image: url("../images/flag23.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(24) {
  top: 74.50274286%;
  left: 50.0509375%;
  width: 5.9246875%;
}
.mapSet01 .container .mapArea li.svg:nth-child(24) .kaburaki {
  bottom: 35%;
  left: 48%;
  background-image: url("../images/flag24.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(25) {
  top: 69.4%;
  left: 46.2%;
  width: 6.00275%;
}
.mapSet01 .container .mapArea li.svg:nth-child(25) .kaburaki {
  bottom: 40%;
  left: 50%;
  background-image: url("../images/flag25.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(26) {
  top: 69.84788571%;
  left: 41.8346625%;
  width: 8.3823375%;
}
.mapSet01 .container .mapArea li.svg:nth-child(26) .kaburaki {
  bottom: 35%;
  left: 40%;
  background-image: url("../images/flag26.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(27) {
  top: 75.6306%;
  left: 44.5131375%;
  width: 3.44935%;
}
.mapSet01 .container .mapArea li.svg:nth-child(27) .kaburaki {
  bottom: 35%;
  left: 63%;
  background-image: url("../images/flag27.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(28) {
  top: 69.84788571%;
  left: 39.2452875%;
  width: 5.054975%;
}
.mapSet01 .container .mapArea li.svg:nth-child(28) .kaburaki {
  bottom: 45%;
  left: 45%;
  background-image: url("../images/flag28.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(29) {
  top: 77.41665714%;
  left: 48.17535%;
  width: 3.013%;
}
.mapSet01 .container .mapArea li.svg:nth-child(29) .kaburaki {
  bottom: 30%;
  left: 47%;
  background-image: url("../images/flag29.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(30) {
  top: 82.3401%;
  left: 45.0703375%;
  width: 6.1954875%;
}
.mapSet01 .container .mapArea li.svg:nth-child(30) .kaburaki {
  bottom: 30%;
  left: 40%;
  background-image: url("../images/flag30.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(31) {
  top: 69.84788571%;
  left: 33.1298%;
  width: 5.902625%;
}
.mapSet01 .container .mapArea li.svg:nth-child(31) .kaburaki {
  bottom: 35%;
  left: 50%;
  background-image: url("../images/flag31.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(32) {
  top: 69.84788571%;
  left: 25.0507125%;
  width: 9.0277625%;
}
.mapSet01 .container .mapArea li.svg:nth-child(32) .kaburaki {
  bottom: 35%;
  left: 50%;
  background-image: url("../images/flag32.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(33) {
  top: 73.36542857%;
  left: 33.806575%;
  width: 5.22585%;
}
.mapSet01 .container .mapArea li.svg:nth-child(33) .kaburaki {
  bottom: 35%;
  left: 50%;
  background-image: url("../images/flag33.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(34) {
  top: 73.36542857%;
  left: 27.154275%;
  width: 6.4394375%;
}
.mapSet01 .container .mapArea li.svg:nth-child(34) .kaburaki {
  bottom: 35%;
  left: 50%;
  background-image: url("../images/flag34.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(35) {
  top: 71.90645714%;
  left: 21.4%;
  width: 5.488975%;
}
.mapSet01 .container .mapArea li.svg:nth-child(35) .kaburaki {
  bottom: 45%;
  left: 50%;
  background-image: url("../images/flag35.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(36) {
  top: 83.6%;
  left: 36.0751125%;
  width: 5.5322875%;
}
.mapSet01 .container .mapArea li.svg:nth-child(36) .kaburaki {
  bottom: 45%;
  left: 55%;
  background-image: url("../images/flag36.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(37) {
  top: 81.1%;
  left: 34.758375%;
  width: 6.0321625%;
}
.mapSet01 .container .mapArea li.svg:nth-child(37) .kaburaki {
  bottom: 35%;
  left: 50%;
  background-image: url("../images/flag37.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(38) {
  top: 81.00931429%;
  left: 25.0048%;
  width: 10.85745%;
}
.mapSet01 .container .mapArea li.svg:nth-child(38) .kaburaki {
  bottom: 55%;
  left: 30%;
  background-image: url("../images/flag38.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(39) {
  top: 85.68575714%;
  left: 27.0910875%;
  width: 12.0842375%;
}
.mapSet01 .container .mapArea li.svg:nth-child(39) .kaburaki {
  bottom: 70%;
  left: 50%;
  background-image: url("../images/flag39.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(40) {
  top: 74.94137143%;
  left: 11.7205%;
  width: 7.5773875%;
}
.mapSet01 .container .mapArea li.svg:nth-child(40) .kaburaki {
  bottom: 45%;
  left: 50%;
  background-image: url("../images/flag40.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(41) {
  top: 75.87937143%;
  left: 8.3265%;
  width: 5.3048625%;
}
.mapSet01 .container .mapArea li.svg:nth-child(41) .kaburaki {
  bottom: 32%;
  left: 50%;
  background-image: url("../images/flag41.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(42) {
  top: 77.59515714%;
  left: 7.165125%;
  width: 3.892525%;
}
.mapSet01 .container .mapArea li.svg:nth-child(42) .kaburaki {
  bottom: 30%;
  left: 40%;
  background-image: url("../images/flag42.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(43) {
  top: 80.74187143%;
  left: 11.5489375%;
  width: 5.6426375%;
}
.mapSet01 .container .mapArea li.svg:nth-child(43) .kaburaki {
  bottom: 35%;
  left: 57%;
  background-image: url("../images/flag43.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(44) {
  top: 76.66837143%;
  left: 16.2147125%;
  width: 5.878125%;
}
.mapSet01 .container .mapArea li.svg:nth-child(44) .kaburaki {
  bottom: 30%;
  left: 53%;
  background-image: url("../images/flag44.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(45) {
  top: 83.24382857%;
  left: 16.0162%;
  width: 6.076625%;
}
.mapSet01 .container .mapArea li.svg:nth-child(45) .kaburaki {
  bottom: 40%;
  left: 45%;
  background-image: url("../images/flag45.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(46) {
  top: 88.13765714%;
  left: 11.4222375%;
  width: 7.4913125%;
}
.mapSet01 .container .mapArea li.svg:nth-child(46) .kaburaki {
  bottom: 65%;
  left: 40%;
  background-image: url("../images/flag46.png");
}
.mapSet01 .container .mapArea li.svg:nth-child(47) {
  top: 50.51847143%;
  left: 39.8821125%;
  width: 3.9092%;
}
.mapSet01 .container .mapArea li.svg:nth-child(47) .kaburaki {
  bottom: 50%;
  left: 40%;
  background-image: url("../images/flag47.png");
}
.optionSet01 .btnWrapper {
  padding-bottom: 40px;
  border-bottom: 4px dotted #ccc;
}
.optionSet01 .optionBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 15px;
  padding-top: 40px;
  text-align: center;
}
