html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, ol li,
ul li  {
margin: 0;
padding: 0;
border: 0;
font: inherit;
font-size: 100%;
vertical-align: baseline;
}

html {
line-height: 1;
}

ol, ul {
list-style: none;
}

table {
border-collapse: collapse;
border-spacing: 0;
}

caption, th, td {
text-align: left;
font-weight: normal;
vertical-align: middle;
}

q, blockquote {
quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
content: "";
content: none;
}

a img {
border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
display: block;
}

img {
vertical-align: bottom;
border: none;
}

button,
input,
select,
textarea {
vertical-align: middle;
}

input {
outline: 0;
}

button,
input {
*overflow: visible;
line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
padding: 0;
border: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
cursor: pointer;
-webkit-appearance: button;
}

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
cursor: pointer;
}

textarea {
overflow: auto;
vertical-align: top;
font-family: sans-serif;
}


POINT_COLOR01 = #198CAA


body
    font-family: "Kiwi Maru", serif
    font-weight 400
    font-style normal
    min-width 1480px

.topArea
    display flex
    justify-content center
    gap 50px
    align-items center
    padding-top 40px

.bottomArea
    display flex
    gap 40px
    justify-content center
    padding-top 40px
    padding-bottom 40px
    margin 40px auto 0
    width 100%
    background-color #fff
    border-top 4px dotted #ccc

.rouletteSet01
    position relative
    width 560px
    height 740px
    background-image url('../images/roulette_bg.svg')
    background-repeat no-repeat
    background-position center
    background-size content
    .wrapper
        position absolute
        top 9%
        padding 30px 0
        width 560px
        background linear-gradient(180deg, rgba(252,221,126,1) 0%, rgba(238,152,62,1) 100%)
        border-radius 50%
        box-shadow 0 -5px 0 #ED9A4D
        &:before,&:after
            content ''
            display inline-block
            position absolute
            top 50%
            left 50%
            transform translate3d(-50%,-50%,0)
            border-radius 50%
        &:before
            width calc(100% - 20px)
            height calc(100% - 20px)
            background linear-gradient(0deg, rgba(252,221,126,1) 0%, rgba(238,152,62,1) 100%)

        &:after
            width calc(100% - 40px)
            height calc(100% - 40px)
            background-color #105A8C
    .container
        position relative
        margin 0 auto
        width 500px
        height 500px
        border-radius 50%
        overflow hidden
        background-color #000
        z-index 1
        &:after
            content ''
            display inline-block
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            border 2px solid #000
            border-radius 50%
            box-sizing border-box
            z-index 10
            pointer-events none
            box-shadow inset 0 5px 0 rgba(0,0,0,.3)
        #roulette
            position absolute
            top 50%
            left 50%
            transform translate3d(-50%,-50%,0)

            &:before,&:after
                content ''
                display inline-block
                position absolute
                z-index 1
            &:before
                top -40px
                left 50%
                transform translate3d(-100%,0,0)
                border-top: 50px solid transparent;
                border-right: 20px solid #930909;
            &:after
                top -40px
                right 50%
                transform translate3d(100%,0,0)
                border-right: 20px solid transparent;
                border-bottom: 50px solid #5E0B0B;

        .lineWrapper
            width 250px
            height 250px
            border-radius 50%
            position absolute
            top 0
            left 0
            box-sizing border-box
            // transform rotate(-90deg)
            transition-timing-function cubic-bezier(0,-0.04,0,1) !important
            pointer-events none
            .line
                display flex
                justify-content center
                align-items center
                width 100%
                height 250px
                position absolute
                transform-origin center
                span
                    display inline-block
                    width 2px
                    height 100%
                    background-color #000
        .wheel
            width 250px
            height 250px
            border-radius 50%
            position relative
            box-sizing border-box
            // transform rotate(-90deg)
            transition-timing-function cubic-bezier(0,-0.04,0,1) !important
        .item
            display flex
            align-items center
            padding-top 15px
            width 100%
            height 250px
            position absolute
            text-align center
            transform-origin 50% 125px /* ルーレットの中心からの距離 */
            color #333
            font-size 14px
            font-weight bold
            letter-spacing 0.2em
            writing-mode vertical-lr
            box-sizing border-box
            .bg
                display inline-block
                position absolute
                top 0
                right 0
                left 0
                margin 0 auto
                height 250px
                clip-path polygon(0% 0%, 100% 0%, 50% 100%)
            .value
                position relative
                z-index 1
                text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
                        -1px 1px 0 #FFF, 1px -1px 0 #FFF,
                        0px 1px 0 #FFF,  0-1px 0 #FFF,
                        -1px 0 0 #FFF, 1px 0 0 #FFF;
            &[data-index="1"]
                .bg
                    background-color #1D9DF2
            &[data-index="2"],
            &[data-index="3"],
            &[data-index="4"],
            &[data-index="5"],
            &[data-index="6"],
            &[data-index="7"]
                .bg
                    background-color #61E59A
            &[data-index="8"],
            &[data-index="9"],
            &[data-index="10"],
            &[data-index="11"],
            &[data-index="12"],
            &[data-index="13"],
            &[data-index="14"]
                .bg
                    background-color #F23530
            &[data-index="15"],
            &[data-index="16"],
            &[data-index="17"],
            &[data-index="18"],
            &[data-index="19"],
            &[data-index="20"],
            &[data-index="21"],
            &[data-index="22"],
            &[data-index="23"]
                .bg
                    background-color #67D12A
            &[data-index="24"],
            &[data-index="25"],
            &[data-index="26"],
            &[data-index="27"],
            &[data-index="28"],
            &[data-index="29"],
            &[data-index="30"]
                .bg
                    background-color #FFD833
            &[data-index="31"],
            &[data-index="32"],
            &[data-index="33"],
            &[data-index="34"],
            &[data-index="35"]
                .bg
                    background-color #C0ABEF
            &[data-index="36"],
            &[data-index="37"],
            &[data-index="38"],
            &[data-index="39"]
                .bg
                    background-color #5AE0E0
            &[data-index="40"],
            &[data-index="41"],
            &[data-index="42"],
            &[data-index="43"],
            &[data-index="44"],
            &[data-index="45"],
            &[data-index="46"]
                .bg
                    background-color #F76C1E
            &[data-index="47"]
                .bg
                    background-color #EA65BA
        .circle
            display inline-block
            position absolute
            top 50%
            left 50%
            transform translate3d(-50%,-50%,0)
            width 250px
            height 250px
            background linear-gradient(180deg, rgba(252,221,126,1) 0%, rgba(238,152,62,1) 100%)
            border-radius 50%
            box-sizing border-box
            box-shadow 0 5px 0 rgba(0,0,0,0.3)
            z-index 10
            .inner
                display flex
                flex-direction column
                align-items center
                gap 10px
                width 85%
                height 85%
                position absolute
                top 0
                right 0
                bottom 0
                left 0
                margin auto
                background linear-gradient(0deg, rgba(252,221,126,1) 0%, rgba(238,152,62,1) 100%)
                border-radius 50%

            .symbolWrapper
                margin-top 20px
                width 100px
                img
                    width 100%

            .result
                display flex
                align-items center
                justify-content center
                width 150px
                height 50px
                background-color #fff
                box-sizing border-box
                #destination
                    display inline-block
                    color POINT_COLOR01
                    font-size 30px
                    font-weight bold
                    font-family "Yusei Magic", sans-serif
                    line-height 1


.btnWrapper
    display flex
    justify-content center
    align-items center
    gap 10px

.rouletteBtn
    display flex
    justify-content center
    align-items center
    margin-bottom 0
    margin-top 3px
    padding 2px
    color #fff
    background-color POINT_COLOR01
    border 2px solid POINT_COLOR01
    box-sizing border-box
    border-radius 100px
    font-size 20px
    font-family "Righteous", sans-serif
    letter-spacing 0.1em
    box-shadow 0 -3px 0 #326464
    cursor pointer
    transition all 0.3s
    &.is-spin
        background-color #930909
        border-color #930909
        box-shadow 0 -3px 0 #5E0B0B
    span
        display inline-block
        padding 5px 40px
        min-width 150px
        text-align center
        line-height 1
        box-sizing border-box
        border 1px solid #fff
        border-radius 100px
        pointer-events none
        transition all 0.3s
    &.is-disabled
        margin-bottom 3px
        margin-top 0px
        color #333
        background-color #777 !important
        border-color #777 !important
        box-shadow 0 0 0 #444 !important
        pointer-events none
        span
            border-color #333

.checkBoxSet01
    padding-right 40px
    border-right 4px dotted #ccc
    .container
        display flex
        flex-wrap wrap
        justify-content space-between
        gap 20px
        .box
            .area
                margin-bottom 10px
                font-size 18px
                font-weight bold
                &:before
                    content '-'
                    margin-right 5px
            .list
                display flex
                flex-direction column
                gap 3px
                padding-left 5px
                label
                    font-size 14px
                    font-weight bold
                    input[type="checkbox"]
                        &[data-index="1"]
                            accent-color #1D9DF2
                        &[data-index="2"],
                        &[data-index="3"],
                        &[data-index="4"],
                        &[data-index="5"],
                        &[data-index="6"],
                        &[data-index="7"]
                            accent-color #61E59A
                        &[data-index="8"],
                        &[data-index="9"],
                        &[data-index="10"],
                        &[data-index="11"],
                        &[data-index="12"],
                        &[data-index="13"],
                        &[data-index="14"]
                            accent-color #F23530
                        &[data-index="15"],
                        &[data-index="16"],
                        &[data-index="17"],
                        &[data-index="18"],
                        &[data-index="19"],
                        &[data-index="20"],
                        &[data-index="21"],
                        &[data-index="22"],
                        &[data-index="23"]
                            accent-color #67D12A
                        &[data-index="24"],
                        &[data-index="25"],
                        &[data-index="26"],
                        &[data-index="27"],
                        &[data-index="28"],
                        &[data-index="29"],
                        &[data-index="30"]
                            accent-color #FFD833
                        &[data-index="31"],
                        &[data-index="32"],
                        &[data-index="33"],
                        &[data-index="34"],
                        &[data-index="35"]
                            accent-color #C0ABEF
                        &[data-index="36"],
                        &[data-index="37"],
                        &[data-index="38"],
                        &[data-index="39"]
                            accent-color #5AE0E0
                        &[data-index="40"],
                        &[data-index="41"],
                        &[data-index="42"],
                        &[data-index="43"],
                        &[data-index="44"],
                        &[data-index="45"],
                        &[data-index="46"]
                            accent-color #F76C1E
                        &[data-index="47"]
                            accent-color #EA65BA


.mapSet01
    position relative
    padding 15px
    &:before
        content ''
        display inline-block
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background-image url('../images/map_frame.png')
        background-position center
        background-repeat no-repeat
        background-size contain
        z-index 10
        pointer-events none
    .wrapper
        position relative
        padding-top 700px
        width 800px
        height 0
        background-color POINT_COLOR01
        box-sizing border-box
        overflow hidden

    .logo
        display inline-block
        position absolute
        top 40px
        left 30px
        width 35%
        filter drop-shadow(3px 3px 0px rgba(50,100,100,1))
        z-index 9999
        img
            width 100%

    .resultArea
        width 520px
        height 100px
        position absolute
        right 0
        bottom 25px
        left 0
        margin 0 auto
        background-image url('../images/map_result_frame.svg')
        background-position center
        background-repeat no-repeat
        background-size contain
        opacity 0
        pointer-events none
        transition 0.3s
        &.is-active
            opacity 1
        &.is-hide
            opacity 0 !important

        #result
            margin-top 20px
            height 55px
            text-align center
            img
                height 100%

    .container
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        transform-origin center
        transform scale(1,1)
        transition all 1s
        .mapArea
            position absolute
            top 50%
            left 50%
            transform translate3d(-50%,-50%,0)
            width 100%
            height 100%
            -webkit-backface-visibility hidden
            backface-visibility hidden
            transition all 1s

            &:before
                content ''
                display inline-block
                position absolute
                top 50%
                left 50%
                transform translate3d(-50%,-50%,0)
                width 200%
                height 200%
                background-image url('../images/map_bg.svg')
                background-size 80px
                opacity 0.1
            &:after
                content ''
                display inline-block
                position absolute
                top 3.384771429%
                left 6.5207%
                width 87.21865%
                height 93.571429%
                background-image url('../images/map_parts01.svg')
                background-repeat no-repeat
                background-size contain

            li.svg
                position absolute
                opacity 0.3
                transition all 0.3s
                z-index 1

                .kaburaki
                    content ''
                    display inline-block
                    width 60px
                    height 60px
                    background-repeat no-repeat
                    background-position center
                    background-size contain
                    position absolute
                    bottom 30%
                    left 50%
                    transform translate3d(-50%,-20px,0)
                    opacity 0
                    transition 0.5s
                    z-index 1

                &:nth-child(1)
                    &.active
                        &.target
                            svg
                                fill #1D9DF2
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6),
                &:nth-child(7)
                    &.active
                        &.target
                            svg
                                fill #61E59A
                &:nth-child(8),
                &:nth-child(9),
                &:nth-child(10),
                &:nth-child(11),
                &:nth-child(12),
                &:nth-child(13),
                &:nth-child(14)
                    &.active
                        &.target
                            svg
                                fill #F23530
                &:nth-child(15),
                &:nth-child(16),
                &:nth-child(17),
                &:nth-child(18),
                &:nth-child(19),
                &:nth-child(20),
                &:nth-child(21),
                &:nth-child(22),
                &:nth-child(23)
                    &.active
                        &.target
                            svg
                                fill #67D12A
                &:nth-child(24),
                &:nth-child(25),
                &:nth-child(26),
                &:nth-child(27),
                &:nth-child(28),
                &:nth-child(29),
                &:nth-child(30)
                    &.active
                        &.target
                            svg
                                fill #FFD833
                &:nth-child(31),
                &:nth-child(32),
                &:nth-child(33),
                &:nth-child(34),
                &:nth-child(35)
                    &.active
                        &.target
                            svg
                                fill #C0ABEF
                &:nth-child(36),
                &:nth-child(37),
                &:nth-child(38),
                &:nth-child(39)
                    &.active
                        &.target
                            svg
                                fill #5AE0E0
                &:nth-child(40),
                &:nth-child(41),
                &:nth-child(42),
                &:nth-child(43),
                &:nth-child(44),
                &:nth-child(45),
                &:nth-child(46)
                    &.active
                        &.target
                            svg
                                fill #F76C1E
                &:nth-child(47)
                    &.active
                        &.target
                            svg
                                fill #EA65BA


                &.active
                    opacity 1
                    transition all 0.3s

                    svg
                        fill #FDE1C5
                    &.target
                        z-index 10
                        .kaburaki
                            opacity 1
                            transform translate3d(-50%,0,0)
                            transition-delay 2.5s
                        svg
                            filter drop-shadow(0px 0px 0.5px rgba(89,71,58,1.0))
                svg
                    width 100%
                    fill #000
                    transition all 0.3s
                &:nth-child(1)
                    top 4.1407%
                    left 69.189425%
                    width 23.64545%
                    .kaburaki
                        bottom 38%
                        left 50%
                        background-image url("../images/flag01.png")
                &:nth-child(2)
                    top 27.8%
                    left 68.124275%
                    width 12.6828875%
                    .kaburaki
                        bottom 30%
                        left 50%
                        background-image url("../images/flag02.png")
                &:nth-child(3)
                    top 36.5397%
                    left 74.4824875%
                    width 6.602025%
                    .kaburaki
                        bottom 30%
                        left 50%
                        background-image url("../images/flag03.png")
                &:nth-child(4)
                    top 46.15645714%
                    left 74.4824875%
                    width 6.602025%
                    .kaburaki
                        bottom 30%
                        left 40%
                        background-image url("../images/flag04.png")
                &:nth-child(5)
                    top 36.54475714%
                    left 67.213825%
                    width 7.0558%
                    .kaburaki
                        bottom 30%
                        left 55%
                        background-image url("../images/flag05.png")
                &:nth-child(6)
                    top 47.12431429%
                    left 68.124275%
                    width 6.14535%
                    .kaburaki
                        bottom 30%
                        left 50%
                        background-image url("../images/flag06.png")
                &:nth-child(7)
                    top 53.94564286%
                    left 68.0053625%
                    width 11.844375%
                    .kaburaki
                        bottom 35%
                        left 50%
                        background-image url("../images/flag07.png")
                &:nth-child(8)
                    top 61.05728571%
                    left 74.5774125%
                    width 7.324375%
                    .kaburaki
                        bottom 30%
                        left 50%
                        background-image url("../images/flag08.png")
                &:nth-child(9)
                    top 60.13%
                    left 71.75%
                    width 4.95575%
                    .kaburaki
                        bottom 40%
                        left 50%
                        background-image url("../images/flag09.png")
                &:nth-child(10)
                    top 61.05728571%
                    left 64.45095%
                    width 9.373025%
                    .kaburaki
                        bottom 45%
                        left 45%
                        background-image url("../images/flag10.png")
                &:nth-child(11)
                    top 66.94797143%
                    left 68.0053625%
                    width 8.67395%
                    .kaburaki
                        bottom 35%
                        left 50%
                        background-image url("../images/flag11.png")
                &:nth-child(12)
                    top 69.90827143%
                    left 76.892175%
                    width 5.0643625%
                    .kaburaki
                        bottom 50%
                        left 50%
                        background-image url("../images/flag12.png")
                &:nth-child(13)
                    top 71.16677143%
                    left 69.8287%
                    width 6.8506125%
                    .kaburaki
                        bottom 50%
                        left 45%
                        background-image url("../images/flag13.png")
                &:nth-child(14)
                    top 73.52665714%
                    left 69.8287%
                    width 6.0561625%
                    .kaburaki
                        bottom 30%
                        left 45%
                        background-image url("../images/flag14.png")
                &:nth-child(15)
                    top 50.02964286%
                    left 59.4%
                    width 10.1283875%
                    .kaburaki
                        bottom 30%
                        left 50%
                        background-image url("../images/flag15.png")
                &:nth-child(16)
                    top 59.47078571%
                    left 52.6590125%
                    width 6.5498875%
                    .kaburaki
                        bottom 20%
                        left 50%
                        background-image url("../images/flag16.png")
                &:nth-child(17)
                    top 54.9%
                    left 49.862725%
                    width 6.9220125%
                    .kaburaki
                        bottom 65%
                        left 47%
                        background-image url("../images/flag17.png")
                &:nth-child(18)
                    top 63.93558571%
                    left 44.834275%
                    width 7.611875%
                    .kaburaki
                        bottom 50%
                        left 50%
                        background-image url("../images/flag18.png")
                &:nth-child(19)
                    top 71.16677143%
                    left 64.4504125%
                    width 5.1654375%
                    .kaburaki
                        bottom 50%
                        left 43%
                        background-image url("../images/flag19.png")
                &:nth-child(20)
                    top 61.66721429%
                    left 58.2751125%
                    width 9.517375%
                    .kaburaki
                        bottom 35%
                        left 40%
                        background-image url("../images/flag20.png")
                &:nth-child(21)
                    top 65.40342857%
                    left 51.209425%
                    width 6.852825%
                    .kaburaki
                        bottom 40%
                        left 50%
                        background-image url("../images/flag21.png")
                &:nth-child(22)
                    top 74.51954286%
                    left 60.8712125%
                    width 10.1146%
                    .kaburaki
                        bottom 50%
                        left 45%
                        background-image url("../images/flag22.png")
                &:nth-child(23)
                    top 74.51954286%
                    left 54.9%
                    width 5.752175%
                    .kaburaki
                        bottom 35%
                        left 55%
                        background-image url("../images/flag23.png")
                &:nth-child(24)
                    top 74.50274286%
                    left 50.0509375%
                    width 5.9246875%
                    .kaburaki
                        bottom 35%
                        left 48%
                        background-image url("../images/flag24.png")
                &:nth-child(25)
                    top 69.4%
                    left 46.2%
                    width 6.00275%
                    .kaburaki
                        bottom 40%
                        left 50%
                        background-image url("../images/flag25.png")
                &:nth-child(26)
                    top 69.84788571%
                    left 41.8346625%
                    width 8.3823375%
                    .kaburaki
                        bottom 35%
                        left 40%
                        background-image url("../images/flag26.png")
                &:nth-child(27)
                    top 75.6306%
                    left 44.5131375%
                    width 3.44935%
                    .kaburaki
                        bottom 35%
                        left 63%
                        background-image url("../images/flag27.png")
                &:nth-child(28)
                    top 69.84788571%
                    left 39.2452875%
                    width 5.054975%
                    .kaburaki
                        bottom 45%
                        left 45%
                        background-image url("../images/flag28.png")
                &:nth-child(29)
                    top 77.41665714%
                    left 48.17535%
                    width 3.013%
                    .kaburaki
                        bottom 30%
                        left 47%
                        background-image url("../images/flag29.png")
                &:nth-child(30)
                    top 82.3401%
                    left 45.0703375%
                    width 6.1954875%
                    .kaburaki
                        bottom 30%
                        left 40%
                        background-image url("../images/flag30.png")
                &:nth-child(31)
                    top 69.84788571%
                    left 33.1298%
                    width 5.902625%
                    .kaburaki
                        bottom 35%
                        left 50%
                        background-image url("../images/flag31.png")
                &:nth-child(32)
                    top 69.84788571%
                    left 25.0507125%
                    width 9.0277625%
                    .kaburaki
                        bottom 35%
                        left 50%
                        background-image url("../images/flag32.png")
                &:nth-child(33)
                    top 73.36542857%
                    left 33.806575%
                    width 5.22585%
                    .kaburaki
                        bottom 35%
                        left 50%
                        background-image url("../images/flag33.png")
                &:nth-child(34)
                    top 73.36542857%
                    left 27.154275%
                    width 6.4394375%
                    .kaburaki
                        bottom 35%
                        left 50%
                        background-image url("../images/flag34.png")
                &:nth-child(35)
                    top 71.90645714%
                    left 21.4%
                    width 5.488975%
                    .kaburaki
                        bottom 45%
                        left 50%
                        background-image url("../images/flag35.png")
                &:nth-child(36)
                    top 83.6%
                    left 36.0751125%
                    width 5.5322875%
                    .kaburaki
                        bottom 45%
                        left 55%
                        background-image url("../images/flag36.png")
                &:nth-child(37)
                    top 81.1%
                    left 34.758375%
                    width 6.0321625%
                    .kaburaki
                        bottom 35%
                        left 50%
                        background-image url("../images/flag37.png")
                &:nth-child(38)
                    top 81.00931429%
                    left 25.0048%
                    width 10.85745%
                    .kaburaki
                        bottom 55%
                        left 30%
                        background-image url("../images/flag38.png")
                &:nth-child(39)
                    top 85.68575714%
                    left 27.0910875%
                    width 12.0842375%
                    .kaburaki
                        bottom 70%
                        left 50%
                        background-image url("../images/flag39.png")
                &:nth-child(40)
                    top 74.94137143%
                    left 11.7205%
                    width 7.5773875%
                    .kaburaki
                        bottom 45%
                        left 50%
                        background-image url("../images/flag40.png")
                &:nth-child(41)
                    top 75.87937143%
                    left 8.3265%
                    width 5.3048625%
                    .kaburaki
                        bottom 32%
                        left 50%
                        background-image url("../images/flag41.png")
                &:nth-child(42)
                    top 77.59515714%
                    left 7.165125%
                    width 3.892525%
                    .kaburaki
                        bottom 30%
                        left 40%
                        background-image url("../images/flag42.png")
                &:nth-child(43)
                    top 80.74187143%
                    left 11.5489375%
                    width 5.6426375%
                    .kaburaki
                        bottom 35%
                        left 57%
                        background-image url("../images/flag43.png")
                &:nth-child(44)
                    top 76.66837143%
                    left 16.2147125%
                    width 5.878125%
                    .kaburaki
                        bottom 30%
                        left 53%
                        background-image url("../images/flag44.png")
                &:nth-child(45)
                    top 83.24382857%
                    left 16.0162%
                    width 6.076625%
                    .kaburaki
                        bottom 40%
                        left 45%
                        background-image url("../images/flag45.png")
                &:nth-child(46)
                    top 88.13765714%
                    left 11.4222375%
                    width 7.4913125%
                    .kaburaki
                        bottom 65%
                        left 40%
                        background-image url("../images/flag46.png")
                &:nth-child(47)
                    top 50.51847143%
                    left 39.8821125%
                    width 3.9092%
                    .kaburaki
                        bottom 50%
                        left 40%
                        background-image url("../images/flag47.png")

.optionSet01
    .btnWrapper
        padding-bottom 40px
        border-bottom 4px dotted #ccc
    .optionBlock
        display flex
        flex-direction column
        align-items flex-start
        gap 15px
        padding-top 40px
        text-align center
